* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: #c8b6ff;
}


.botonregist {
    text-align: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.botonregist li a {
    text-decoration: none;
    color: #fff;
    background-color: #c8b6ff;
    display: inline-block;
}


.botonregist li a:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 3);
}

fieldset {
    margin-top: 20px;
    margin-left: 50px
}

#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 130px;
    height: 25px;
    padding: 10px;
    border-right: 1px solid #fff;
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 3);

}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center
}

.menu li:hover {
    background: rgba(0, 0, 0, 3);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.menu nav {
    width: 100%;
}

/* titulo pag gral*/
.tittlePag {
    text-align: center;
    color: #0b525b;
    font-size: 40px;
    margin-top: 20px;
}

/* cuerpo de pag */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFD6FF;
    background-size: cover;
    margin: 0;

}

.opinions {
    text-align: center;
    background: rgb(200, 182, 255);
    background: linear-gradient(188deg, rgba(200, 182, 255, 1) 22%, rgba(255, 214, 255, 1) 53%, rgba(200, 182, 255, 1) 88%);
}

.caja:hover {
    transform: scale(1.5);
    transition-property: all;
    transition-duration: 3s;

}

.parrafoIndex {
    background-color: #c8b6ffa1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

/* contenedor de form */
fieldset {
    box-sizing: border-box;
    display: inline-block;
}

legend {
    background: rgb(200, 182, 255);
    background: linear-gradient(188deg, rgba(200, 182, 255, 1) 22%, rgba(255, 214, 255, 1) 53%, rgba(200, 182, 255, 1) 88%);
    font-style: italic;
}

.contenedor {
    width: 100%;
    padding: 15px;
}

.Formulario {
    background: rgba(255, 255, 255, 0.288);
    background-position: 15px;
    margin-top: 1px;
    padding: 3px;
    display: inline-block;

}

.titRegistro {
    text-align: center;
    color: #0b525b;
    font-size: 40px;

}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #0b525b;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: #0b525b;
}

.link {
    text-decoration: none;
    color: #0b525b;
    font-weight: 600;
}

.link:hover {
    color: #0b525b;
}

.tamañoCarousel {
    width: 300px;
    height: 500px;
}

footer {
    height: 100%;
}

.footerContainer {
    background-color: #c8b6ff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 20px;
}

.imgRedes {
    align-items: right;
}
.fa-instagram, .fa-twitter, .fa-whatsapp{
    font-size: 40px;
    margin-left: 10px;
    text-decoration: none;
    color: #FFD6FF;
}
.fa-instagram:hover, .fa-twitter:hover, .fa-whatsapp:hover{
transform: scale(1.5);
    transition-property: all;
    transition-duration: 3s;
}
.copyRight {
    display: flex;
    padding-top: 200px;
    align-items: unset;
    justify-content: center;
    text-align: center;
}

.divMap {
    padding-bottom: 70px;
}

.botonlogo {
    display: flex;
    justify-content: center;
    background-color: #FFD6FF;
}

.contactoLogo {
    display: flex;
    justify-content: center;
}

.titleProductos {
    display: flex;
    width: 100%;
    background: rgb(200, 182, 255);
    background: linear-gradient(188deg, rgba(200, 182, 255, 1) 22%, rgba(255, 214, 255, 1) 53%, rgba(200, 182, 255, 1) 88%);
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.seccionDatos {
    display: flex;
    background-color: #ffc8dd94;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-evenly
}

.imgDatos,
.imgMediosdepago {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: space-between;

}

.bodysTitle,
.setsTitle {
    background: rgb(200, 182, 255);
    background: linear-gradient(188deg, rgba(200, 182, 255, 1) 22%, rgba(255, 214, 255, 1) 53%, rgba(200, 182, 255, 1) 88%);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.menu2 {
    text-decoration: none;
    display: inline-flex;
    justify-content: flex-end;
}

.botonColor{
    background: rgb(200, 182, 255);
    background: linear-gradient(188deg, rgba(200, 182, 255, 1) 22%, rgba(255, 214, 255, 1) 53%, rgba(200, 182, 255, 1) 88%);
}
.bgBoton{
    background-color: #ffd6ff9a;
}

.bgBoton2{
    background-color:rgba(255, 214, 255, 0.568);
}

.acordeonProductos{
    margin-top: 30px;
}
.marginCards{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Media Queries */

/* Mobile */

@media only screen and (max-width: 640px) {

    header label {
        display: block;
    }

    .menu {
        position: absolute;
        background: #c8b6ff;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
        z-index: calc(1);
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        border-top: 1px solid #fff;
    }

    #btn-menu:checked~.menu {
        margin: 0;

    }

    /* nav */
    header label {
        height: 50px;
        width: 50px;
    }

    /* index */
    .tittlePag {
        font-size: 30px;
    }

    /* opiniones */

    .opinions {
        background-color: #c8b6ff;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #Opiniones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* footer */

    .footerContainer {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .divCopy {
        order: 3;
        margin-top: -100px;
        margin-bottom: 50px;
    }
    .img{
        margin-top: -10px;
    }
    .divMap {
        order: 0;
    }

    /* Contacto */
    .formCtc {
        margin-left: 15px;
    }
}
