@import '../scss/base/header';
@import '../scss/base/general';
@import '../scss/components/index.scss';
@import '../scss/base/footer';
@import '../scss/components/contacto.scss';
@import '../scss/base/banner';
@import '../scss/components/masvendidos.scss';
@import '../scss/components/productos.scss';
@import '../scss/components/registro.scss';
@import '../scss/base/mediaquerys';
@import '../scss/base/variables';
@import '../scss/base/mapas';