section{
    .formCtc{
        margin-top: 20px;
        margin-left: 2%;
        align-items: center;
        box-sizing: border-box;
        display: inline-block;
        legend{
        background: rgb(200, 182, 255);
        background: linear-gradient(188deg, rgba(200, 182, 255, 1) 22%, rgba(255, 214, 255, 1) 53%, rgba(200, 182, 255, 1) 88%);
        font-style: italic;
        }
        @media only screen and (max-width: 640px)
        {
            margin-left: 50px;
        }
    }

    form{
        
        div{
            input[type="text"]{
                font-size: 20px;
                width: 82%;
                padding: 10px;
                border: none;
            }
            input[type="password"]{
                font-size: 20px;
                width: 82%;
                padding: 10px;
                border: none;
            }
            
        }
    }




}