@import '../base/variables';

.botonregist {
    text-align: right;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        a {
            text-decoration: none;
            color: #fff;
            background-color: #c8b6ff;
            display: inline-block;
            &:hover{
                cursor: pointer;
                background: rgba(0, 0, 0, 3);
            }
        
        }
    }
}

main {

    .tittlePag {
        text-align: center;
        color: #0b525b;
        font-size: 40px;
        margin-top: 20px;
        @media only screen and (max-width: 640px) {
            font-size: 30px;
        }
    }

    .parrafoIndex {
        background-color: #c8b6ffa1;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tamañoCarousel {
        width: 300px;
        height: 500px;
    }
}

#Opiniones {

     @media only screen and (max-width: 640px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .opinions {
        text-align: center;
        background: $bgColortitulos;
        font-size: $fontStyletitulos;
        width: 100%;
        display: flex;
        justify-content: center;
        @media only screen and (max-width: 640px) { 
            background-color: #c8b6ff;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .caja {
        height: 200px;
        width: 300px;

        &:hover {
            transform: scale(1.5);
            transition-property: all;
            transition-duration: 3s;
        }
    }

}