@import '../base/variables';
section {
    .bodysTitle {
        background: $bgColortitulos;
        font-size: $fontStyletitulos;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .marginCards {
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .tamañoCard {
        height: 250px;
        width: auto;
        }

    .botonColor {
        background: $bgColortitulos;
        font-size: $fontStyletitulos;

    }

    .setsTitle {
        background: $bgColortitulos;
        font-size: $fontStyletitulos;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    
}