section {
    .bodysTitle {
        background: rgb(200, 182, 255);
        background: linear-gradient(188deg, rgba(200, 182, 255, 1) 22%, rgba(255, 214, 255, 1) 53%, rgba(200, 182, 255, 1) 88%);
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .marginCards {
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .tamañoCard {
        height: 250px;
        width: auto;
        }

    .botonColor {
        background: rgb(200, 182, 255);
        background: linear-gradient(188deg, rgba(200, 182, 255, 1) 22%, rgba(255, 214, 255, 1) 53%, rgba(200, 182, 255, 1) 88%);

    }

    .setsTitle {
        background: rgb(200, 182, 255);
        background: linear-gradient(188deg, rgba(200, 182, 255, 1) 22%, rgba(255, 214, 255, 1) 53%, rgba(200, 182, 255, 1) 88%);
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }

}