@import '../base/variables';

.titleProductos {
    display: flex;
    width: 100%;
    background: $bgColortitulos;
    font-size: $fontStyletitulos;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.marginCards {
    margin-top: 10px;
    margin-bottom: 10px;

    .tamañoCard {
        height: 250px;
        width: auto;
    }


.botonColor {
    background: $bgColortitulos;
    font-size: $fontStyletitulos;
}

}

section {
    .acordeonProductos {
        margin-top: 30px;

        .bgBoton {
            background-color: #ffd6ff9a;
        }

        .bgBoton2 {
            background-color: rgba(255, 214, 255, 0.568);
        }
    }
}