@import '../base/extends';

.footerContainer {

    background-color: #c8b6ff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 20px;

    @media only screen and (max-width: 640px) {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .divMap {
        padding-bottom: 70px;

        @media only screen and (max-width: 640px) {

            order: 0;
        }
    }

    /* COPYRIGHT */
    .divCopy {
        .copyRight {
            display: flex;
            padding-top: 200px;
            align-items: unset;
            text-align: center;
        }

        @media only screen and (max-width: 640px) {
            order: 3;
            margin-top: -100px;
            margin-bottom: 50px;
        }
    }

    /* IMAGENES REDES */
    .imgRedes {
    .fa-instagram {
            font-size: 40px;
            margin-left: 10px;
            text-decoration: none;
            color: #FFD6FF;
        }
    }

    .fa-twitter {
        font-size: 40px;
        margin-left: 10px;
        text-decoration: none;
        color: #FFD6FF;
    }

    .fa-whatsapp {
        font-size: 40px;
        margin-left: 10px;
        text-decoration: none;
        color: #FFD6FF;
    }
}