header {
    width: 100%;
    background: #c8b6ff;

    .botonlogo {
        display: flex;
        justify-content: center;
        background-color: #FFD6FF;
    }

    /*  encabezado zona navegable-*/
    #btn-menu {
        display: none;
    
        @media only screen and (max-width: 640px) {
            &:checked~.menu{
                margin:0;
            }
            }
        }
    
    label {
        display: none;
        width: 130px;
        height: 25px;
        padding: 10px;
        border-right: 1px solid #fff;
        &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 3);
        }
        @media only screen and (max-width: 640px) {
            display: block;
            height: 50px;
            width: 50px;
    
        }
    
        .sizeMenu {
        height: 30px;
        width: 30px;
        }
    }
    .menu {
        width: 100%;
        ul {
            margin: 0;
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;

            li {
                &:hover {
                    background: rgba(0, 0, 0, 3);
                }

                a {
                    display: block;
                    padding: 15px 20px;
                    color: #fff;
                    text-decoration: none;
                }

                @media only screen and (max-width: 640px) {
                    border-top: 1px solid #fff;
                }

            }

            @media only screen and (max-width: 640px) {
                flex-direction: column;
            }
        }

    @media only screen and (max-width: 640px) {
        
            position: absolute;
            background: #c8b6ff;
            width: 70%;
            margin-left: -70%;
            transition: all 0.5s;
            z-index: calc(1);
            }
        
    }
}
.modiCtc{
    height: 30px;
    width: 30px;
}